form#cms {
  margin-top: 50px;
}

#title {
  text-align: center;

}
.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

table {
  width: 50%
}

.people {
  padding-top: 40px;
}